
.tablaAdmin{
    width: 80%;
    margin: 0 auto;
    margin-top: 0px;

}

.trAdmin {
    margin-top: 80px;
}

.datosAdmin{
    margin-top: 0px;
    display: flex;
    margin-left: 7%;
    border: 1ps solid yellow;
    flex-wrap: wrap;
    
}

.datoAdmin{
   width: 20%;
   text-align: center;
   height: 50px;
   border: 1px solid whitesmoke;
   padding-top: 15px;
   word-break:break-all;
   align-items: center;
   vertical-align: middle;
   min-width: 80px;
   backdrop-filter: blur(5px) grayscale(30%);

   
}

#datoNivel{
    width: 10%;
    min-width: 50px;
}

#datoAccion{
    width: 5%;
    min-width: 30px;
}

#iconAdmin{
    color: #f58505;

}

#iconAdmin:hover{
    color: red;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .datoAdmin{
        backdrop-filter:none;
    }
}



