main{
    color: whitesmoke;
}

#iconPostulantes{
    width: 2%;
    min-width: 50px;
    border: none;
}

#tablaPostulantes1{
    width: 90%;
    text-align: center;
    height: 60px;
    font-size: 16px;
    font-style: italic;
    margin-top: 80px;
   
   
}

#excel{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    opacity: 80%;
   
}

.divExcel{

    width: 90%;
    display: flex;
    justify-content: center;
    margin:50px auto;
}

#iconExcel{
    width: 30px;
    height: 30px;
    margin: 0 auto;

   
}


.contornoAdmin{
    display: none;
    z-index: 1;
}

#tarjetaEliminarPost{
    display: none;
    position: absolute;
    top: 0px;

    
}



.catPostulantes{
    border: 1px solid whitesmoke;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px) grayscale(30%);
  
    
}

#iconPost{
    border:none;
    backdrop-filter: blur(0px) grayscale(0%);
   
}

#iconPostulantes{
    opacity: 0%;
    
}

#btnXPostulantes{

    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 30px;
}

#tituloPostulantes{
    min-width: 600px;
}

#contenedorSpinner1{
    display: block;
}

#datoPostulante,#descargaAval,#descargaCv,#descargaAvalOri,#descargaInvitacion{
    backdrop-filter: blur(5px) grayscale(30%);
}





 
@media screen and (max-width: 620px) {

    #tarjetaEliminarPost{
        top: 10%;
        width: 80%;
        margin: 0 auto; 
        left: 10%;
       
    }

    #tituloPostulantes {
        margin-top: 100px;
    }
    
}


@media screen and (min-width: 620px) and (max-width: 1000px) {


    #tarjetaEliminarPost{
        
        width: 60%;
        right: 20%;
       
    }

    #tituloPostulantes {
        margin-top: 100px;
    }

} 

@media screen and (max-width: 1000px) {
    #excel{
        display: none;
    }
}


@media screen and (max-width:1000px) {
    #datoPostulante,#descargaAval,#descargaCv,#descargaAvalOri,#descargaInvitacion{
        backdrop-filter:none;
    }
}
