main{
    color: whitesmoke;
}

.gridPostulantes{
    display: grid;
    grid-template-columns:19% 19% 19% 19% 19% 5%;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
    font-style: italic;
    margin-top: 80px;
    word-break:break-all;
    
    
    
}

.catPostulantes{
    border: 1px solid whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(50px) grayscale(30%);
    
    
}

#iconPost{
    border:none;
    backdrop-filter: blur(0px) grayscale(0%);
}