.contenedorTarjetas{
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    padding-top: 20PX;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    
    text-align: center;
    row-gap: 20px;
    
    
}

#tarjetaPass{
    color: whitesmoke;
    position: absolute;
    top: 100px;
    height: 30vh;

}

#contenedorSpinner3{
    display: block;
    padding-top: 100px;
    margin-top: 0px;

}


@media screen and (max-width: 600px) {
    .contenedorTarjetas {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    #contenedorSpinner3{
        padding-top: 0px;
    }

    #tarjetaPass{
        height: 40vh;
    }
}


@media screen and (min-width: 600px)  {
    .contenedorTarjetas {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

      
}

@media screen and (min-width: 1000px) {
    .contenedorTarjetas {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
    }
}

@media screen and (min-width:600px) and (max-width:1000px){

    #contenedorSpinner3{
        padding-top: 0px;
    }

}