

#form-login{
    display: flex;
    justify-content: center;
    height: 80%;
}

 
 #sec-datos-login{
     
     width: 400px;
     height: 460px;
     margin-top: 10%;   
     background-color: transparent;
     backdrop-filter: blur(5px) grayscale(30%);
     border: 1px solid white;
     border-radius: 20px;
     display: block;
     }
 
 #input-login1,#input-login2,#titulo-login{
     margin-top: 50px;
 }
 
 #btn-submit{
     color: #FFA800;
     background-color: transparent;
     border: 1px solid #f58505; 
     font-size: 30px;
     font-weight: 300px;
     border-radius: 10px;
     width: 70px;
     height: 50px;
     margin-top: 30px;
 }

 #btn-submit:hover{
    transition: 0.5s;
    color: black;
    background-color: #f58505;
 }
 
 #btn-submit1{
     font-size: 30px;
     font-weight: 300px;
     border-radius: 10px;
     width: 50px;
     height: 50px;
     margin-top: 30px;
     
 }
 
 #div-btns{
     
     display: flex;
     justify-content: space-around;
 
 }
 
 #titulo-login{
    color: whitesmoke;
    display: flex;
    justify-content: center;
 }

 .secRecuperacion{
   
    display: flex;
    margin: auto;
    padding: auto;
    margin-top: 40px;
    width: 60%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 1s;

}

.divIconRecuperacion{
    
    width: 10%;
    height: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
    background-color: var(--bs-tertiary-bg);
}

.divRecuperacion{
    
    width: 87%;
    height: 30px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    background-color: whitesmoke;
    color: black;
    font-size: 10px;

    

}

.h6Recuperacion{
    margin-top: 7px;
    font-size: 15px;
}



.secRecuperacion:active{

    transform: scale(0.95);
}


.secRecuperacion:hover{
    background-color: #7DD3FC;
    transition: 1s;
}


.secRecuperacion:hover > .divIconRecuperacion {
   
    cursor: pointer;

}

.secRecuperacion:hover > .divRecuperacion{
    /* border: 5px solid #7DD3FC; */
    cursor: pointer;

}


#tarjetaPass1{
    margin-top: -500px;
    color: whitesmoke;

}


#input-pass1{
    width: 80%;
    margin: auto;

}

#contornoLogin{

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.contenedorSpinner{
    
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 300px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
 
}

.spinner {

    border: 10px solid transparent; 
    border-top: 20px solid #FF8C00; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }

  .h6spinner{
    margin: 0 auto;
    margin-top: 50px;
    color: #FF8C00;

  }

    
  @keyframes spin {
    0% { transform: rotate(0deg); }
    80% { transform: rotate(360deg); }
  }
/* 
  @media screen and (max-height: 600px) {
    .contenedorSpinner{
        padding-top: 100px;
    }
  } */

  @media screen and (max-width: 600px){
    #tarjetaPass1{
        margin-top: -450px;
        height: 400px;
    }

    #sec-datos-login{
        margin-top: 20%;
    }
  }


  @media screen and (min-width: 620px) and (max-width: 1000px) {
    #tarjetaPass1{
        height: 300px;
        margin-top: -250px;
        width: 60%;
        margin-left: 20%;
    }

    #form-pass1{
        margin-top: -50px;
    }
  }
    
  


