.gridCardPostulantes{
    display: grid;
    grid-template-columns:11% 11% 11% 11% 11% 11% 11% 11% 11% ;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 18px;
    row-gap: 10px;
    word-break:break-all;
    
}

.datoPostulante{
    border: 1px solid whitesmoke;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconPostulane{
    border: 1px solid whitesmoke;
    height: 30px;
    width: 50px;
}
