

#tablaPostulantes{
    width: 1800px;
}

#datoPostulante1{
    word-break: normal;
    
}

#datoPostulante3{
    word-break: normal;
   
    
}




#descargaAval, #descargaAvalOri, #descargaInvitacion, #descargaCv{  
    width: 100px;
}

#iconPostulane{
    vertical-align: middle;
    text-align: center;
    width: 2%;
    min-width: 50px;
    backdrop-filter: blur(5px) grayscale(30%);
}



#iconDescargaAval, #iconDescargaAvalOri, #iconDescargaInvitacion, #iconDescargaCv:hover {
    cursor: pointer;
}

.linkDescarga{
    color: whitesmoke;
}


@media screen and (max-width:1000px) {
    #iconPostulane{
        backdrop-filter:none;
    }
}