



main{
    color:whitesmoke;
    width: 100%;
    margin: 0 auto;
    height: 95vh;
    z-index: 1;
    overflow-y: scroll;
}

.subtituloAdmins{
    height: 50px;
    margin-top: 50px;
    display: flex;
    margin-left: 7%;
   
}

#tablaCardAdmin{
    
    margin-top: 80px;
    text-align: center;
    height: 60px;
    font-size: 18px;
    font-style: italic;
    
    word-break:break-word;
    
}

.thTablaAdmin{
    border: 1px solid whitesmoke;
    width: 20%;
    min-width: 80px;
    
}

#thNivel{
    width: 10%;
    min-width: 50px;
}

#thAccion{
    width: 5%;
    border: none;
    min-width: 30px;
    backdrop-filter: none;
}


.tituloAdmins{
    margin-top: 50px;
    text-align: center;
}

.catAdmins{
    width: 20%;
    text-align: center;
    border: 1px solid white;
    height: 70px;
    padding-top: 20px;
    backdrop-filter: blur(50px) grayscale(30%);
    word-break:break-word;
}

#nivelAdmin{
    width: 10%;
}

.mapAdmins{
    margin-top: 0px;
    
}

#accionAdmin{
    width: 5%;
}

.contornoEliminar{
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    top:0px;
    left: 0px;
    backdrop-filter: blur(8px) grayscale(30%);
    display: none;
}

.tarjetaEliminar{
    border: 1px solid whitesmoke;
    z-index: 3;
    width: 30%;
    height: 40vh;
    margin-left: 35%;
    margin-top: 8%;
    position: absolute;
    border-radius: 20px;
    backdrop-filter: blur(20px) grayscale(30%);
    display: none;
}

.h5Eliminar{
    
    text-align: center;
    margin-top: 50px;
    height: 100px;
}

.btnEliminar{
    
    background-color: #f58505;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    margin-top: 30px;
}


#nomAdmin,#facAdmin,#mailAdmin,#usuarioAdmin,#thNivel{
    backdrop-filter: blur(5px) grayscale(30%);
}


@media screen and (max-width: 600px) {
    
    .tarjetaEliminar{
       width: 80%;
       left: -25%;
       margin-top: 80px;
    
    }
    #tablaCardAdmin {
        margin-top: 100px;
    }
}

@media screen and (min-width:600px) and (max-width:1000px){
    .tarjetaEliminar{
        width: 70%;
        margin-left: 15%;
        margin-top: 80px;
    }

    #tablaCardAdmin {
        margin-top: 100px;
    }

}

@media screen and (max-width:1000px) {
    #nomAdmin,#facAdmin,#mailAdmin,#usuarioAdmin,#thNivel,.catAdmins{
        backdrop-filter:none;
    }
}