.App{
    background-image: url('./ubaFondo7.jpg');
    background-size: cover;
    height: 100VH;    
    bottom: 0px; 
    width: 100%; 
    overflow-y: auto;
    overflow-x: hidden;
}

/* .App {
    background-image: url('./ubaFondo7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    min-height: 100vh;
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;
} */